.battle-header{
  background-image: url("../../assets/unnamed.jpg");
  border-radius: 10px;
  width: auto;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.pokemon1 {
  height: 20vh;
  width: auto;
  margin-top: 55vh;
  margin-left: 30vw;
}

.pokemon2 {
  height: 20vh;
  width: auto;
  padding-top: 25vh;
  margin-right: 20vw;
}

.battle {
  /* The image used */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-image: url("../../assets/background.gif");
  /* Full height */
  height: 80vh;
  width: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  margin: 40px;
  color: white;
  font-size: 45px;
  text-align: center;
}
.liltitle{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.3em;
  text-align: center;
  color: white;
}
