.battle-header{
  background-image: url("../../assets/unnamed.jpg");
  border-radius: 10px;
  min-width: 95vw;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.battle {
  /* The image used */
  background-image: url("../../assets/background.gif");
  /* Full height */
  height: 120vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  margin-top: 0vh;
  padding-top: 0vh;
  padding-bottom: 0vh;
  color: white;
  font-size: 60px;
  text-align: center;

}
.liltitle{
  margin-top: 0vh;
  margin-bottom: 0vh;
  padding-top: 0vh;
  padding-bottom: 0vh;
  font-size: 40px;
  text-align: center;
  color: white;
}
