.battle-header{
  background-image: url("../../assets/unnamed.jpg");
  border-radius: 10px;
  width: auto;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.battle {
  /* The image used */
  background-image: url("../../assets/background.gif");
  /* Full height */
  height: 120vh;
  width: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  font-size: 2em;
  text-align: center;
}
.liltitle{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.3em;
  text-align: center;
  color: white;
}
