.gifAcceuil{
  background-image: url("../../assets/loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;

  animation: fade-out 13s;
  z-index: 20;
}
.first{
  height: 100vh;
}
.imgAcceuil{
  background-image: url("../../assets/acceuil.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  animation: fade-in 10s;
  z-index: 18;
}

.button-play{
  height: 8%;
  width: 100%;
  top: 0;
  left: 0;
}

.title{
  text-align: center;
  font-size: 80px;
  color: white;
}

.play{
  font-family: inherit;
  color: black;
  font-size: 40px;
  text-align: center;
  margin-left: 48%;
  border: 1px solid black;
  border-radius: 5px;
  width: 8%;
  height: 16vh;
}

@keyframes fade-out {
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: none;
  }
  70% {
    opacity: 1;
    display: flex;
  }
}


