<button class='buttonNP' (click)='this.previous()'> Previous </button>
<div>
  <div class='container'>
    <button (click)='selectPokemon(poke)' [ngClass]="selectedPokemon && selectedPokemon.name === poke.name ? 'custom-btn btn-13-red'  : 'custom-btn btn-13' " *ngFor="let poke of this.pokemons">
      <img alt='' src="http://pokemon.lux.frachet.berthelot.io/api/img/{{poke.name}}.gif">
      <p> {{poke.name}}<br>
      </p>
    </button>
  </div>
</div>
<div class='btncontainer'><button class='buttonNP' (click)='this.next()' > Next </button></div>
