<p>choose-pokemon works!</p>
<div class=container>
  <button class='buttonNP'> Previous </button>
  <div class=container *ngFor="let poke of this.pokemons">
      <button class="custom-btn btn-13">
      <img src="{{poke.gif}}">
      <p> {{poke.name}}<br>
      </p>
      </button>
      <button class="custom-btn btn-13">
        <img src="{{poke.gif}}">
        <p> {{poke.name}}<br>
        </p>
      </button>
      <button class="custom-btn btn-13">
        <img src="{{poke.gif}}">
        <p> {{poke.name}}<br>
        </p>
      </button>
  </div>
  <button class='buttonNP'> Next </button>
</div>
