.container{
  display: flex;
  margin: auto;
  flex-direction: row;
  width: auto;
}
.btncontainer {
  display: flex;
}

.buttonNP {
  /*margin: 30px;*/
  align-content: center;
  background-color: white;
  color: black;
  border: 2px solid black;
  font-family: monospace;
  font-weight: bold;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  box-shadow: 5px 5px 0 0 black;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}
