<div class="container">
  <div class="column">
    <h1>Choisissez le premier pokemon</h1>
    <div>
      <app-choose-pokemon (chosenPokemon)='this.assignChosenPokemon($event, 1)'></app-choose-pokemon>
    </div>
  </div>
  <div class="column">
    <h1>Choisissez le deuxième pokemon</h1>
    <div>
      <app-choose-pokemon (chosenPokemon)='this.assignChosenPokemon($event, 2)'></app-choose-pokemon>
    </div>
  </div>
</div>
<button class='buttonNP' (click)='this.battle()'>Commencer le combat</button>

