/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: PokemonHollow;
  src: url("assets/pokemon.ttf");
}

body {
  font-family: PokemonHollow, serif;
  margin: 0;
}
